/* dropdown.component.css */
.dropdown {
  position: relative;
  display: inline-block;
}

button {
  cursor: pointer;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.selected-item {
  margin-top: 10px;
  font-weight: bold;
}
